service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

  	match /index.html {
      allow read;
    }

    match /{userId} {
      // In public directory, everyone allows to read files
      match /public/{allPaths=**} {
        allow read;
        allow write: if isUserAuthenticated(userId);
      }

      // In local directory, registered users allows to read files
      match /local/{allPaths=**} {
        allow read: if isAuthenticated();
        allow write: if isUserAuthenticated(userId);
      }

      // In limited directory, limited users (invited) allows to read files
      match /limited/{allPaths=**} {
        allow read: if isAuthenticated();
        allow write: if isUserAuthenticated(userId);
      }

      // In private directory, only upload user allows to read files
      match /private/{allPaths=**} {
        allow read, write: ifisUserAuthenticated(userId);
      }
    }
  }
}
