service firebase.storage {
  match /b/{bucket}/o {
  	match /index.html {
      allow read;
    }

    match /{userId} {
      // In public directory, everyone allows to read files
      match /public/{allPaths=**} {
        allow read;
        allow write: if request.auth.uid == userId;
      }

      // In local directory, registered users allows to read files
      match /local/{allPaths=**} {
        allow read: if request.auth != null;
        allow write: if request.auth.uid == userId;
      }

      // In limited directory, limited users (invited) allows to read files
      match /limited/{allPaths=**} {
        allow read: if request.auth != null;
        allow write: if request.auth.uid == userId;
      }

      // In private directory, only upload user allows to read files
      match /private/{allPaths=**} {
        allow read, write: if request.auth.uid == userId
      }
    }
  }
}
